doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui")
		link(href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet")
		link(href="assets/stylesheets/style.css" rel="stylesheet")
		link(rel="stylesheet" type="text/css" href="assets/javascripts/fancybox/source/jquery.fancybox.css" media="screen")
		script(src="assets/javascripts/jquery/dist/jquery.js")
		script(src="assets/javascripts/bxslider-4/dist/jquery.bxslider.min.js")
		script(src="assets/javascripts/fancybox/source/jquery.fancybox.pack.js")
		script(src="assets/javascripts/main.js")
	body
		header
			div.logo
				a(href="")
					img(src="/assets/images/logo.png")
			nav
				ul
					li
						a(href="") О центре
					li
						a(href="") Услуги
					li
						a(href="") Инструктора
					li
						a(href="") Цена
					li
						a(href="") Расписание занятий
					li
						a(href="") Отзывы
					li
						a(href="") Контакты
				div.clear
			div.slidshow
				div.slide
					div.image
						img(src="/assets/images/slid1.png")
					div.text
						p.
							Акция! успей записаться на пробное занятие
							и получи скидку в 30%!
		content
			div.title
				h1 Совершенствуй свое тело, будь всегда в форме!
				p.description Это уникальный спортивный клуб, объединивший любителей и профессионалов спорта. Центр построен в 2006 году в честь победы сборной России по теннису в розыгрыше Кубка Дэвиса во Франции в 2002 году впервые за 102-летнюю историю кубка, и поэтому заключает в своем названии эту памятную дату. Это уникальный спортивный клуб, объединивший любителей и профессионалов спорта. Центр построен в 2006 году в честь победы сборной России по теннису в розыгрыше Кубка Дэвиса во Франции в 2002 году впервые за 102-летнюю историю кубка, и поэтому заключает в своем названии эту памятную дату.
			div.catalog_service
				h1.
					программы занятий <br> и другие услуги
				div.block_1.service
					div.image
					h2.
						Тренажерный зал
					a(href="#hover", class="modalbox more") Подробнее
					div(id="hover")
						div.name
							b
								| ТРЕНАЖЕРНЫЙ ЗАЛ1
						div.description
							ol
								li
									|- силовые тренажеры со свободным отягощением Hammer Strength (США);
								li
									|- блочное силовое оборудование Life Fitness (США);
								li
									|- силовые мультистанции Life Fitness (США);  
								li
									|- боксерская груша, зона единоборств;
								li
									|- сайкл студия.
							<br>
							|Серия тренажеров Life Fitness создана для самых требовательных пользователей. Все ее модели оснащены самыми современными технологиями и выполнены в стильном |дизайне. 
							<br>
							ol
								li
									|- снижение веса тела;
								li
									|- сжигание жирового компонента тела;
								li
									|- увеличение мышечной массы;
								li
									|- увеличение силового показателя;
								li
									|- подготовительный комплекс для сезона лыж, спортивных игр, 
								li
									|  тенниса, соревнований и прочее;
								li
									|- восстановление/реабилитация после перенесенных травм и заболеваний;
								li
									|- улучшение выносливости сердечно-сосудистой и дыхательной систем;
								li
									|- развитие выносливости;
								li
									|- улучшение общего физического состояния и самочувствия.					
				div.block_2.service
					div.image
					h2.
						Пилатес
					a(href="#hover2", class="modalbox2 more") Подробнее
					div(id="hover2")
						div.name
							b
								| ТРЕНАЖЕРНЫЙ ЗАЛ2
						div.description
							ol
								li
									|- силовые тренажеры со свободным отягощением Hammer Strength (США);
								li
									|- блочное силовое оборудование Life Fitness (США);
								li
									|- силовые мультистанции Life Fitness (США);  
								li
									|- боксерская груша, зона единоборств;
								li
									|- сайкл студия.
							<br>
							|Серия тренажеров Life Fitness создана для самых требовательных пользователей. Все ее модели оснащены самыми современными технологиями и выполнены в стильном |дизайне. 
							<br>
							ol
								li
									|- снижение веса тела;
								li
									|- сжигание жирового компонента тела;
								li
									|- увеличение мышечной массы;
								li
									|- увеличение силового показателя;
								li
									|- подготовительный комплекс для сезона лыж, спортивных игр, 
								li
									|  тенниса, соревнований и прочее;
								li
									|- восстановление/реабилитация после перенесенных травм и заболеваний;
								li
									|- улучшение выносливости сердечно-сосудистой и дыхательной систем;
								li
									|- развитие выносливости;
								li
									|- улучшение общего физического состояния и самочувствия.					
				div.block_3.service
					div.image
					h2.
						Иога
					a(href="#hover3", class="modalbox3 more") Подробнее
					div(id="hover3")
						div.name
							b
								| ТРЕНАЖЕРНЫЙ ЗАЛ3
						div.description
							ol
								li
									|- силовые тренажеры со свободным отягощением Hammer Strength (США);
								li
									|- блочное силовое оборудование Life Fitness (США);
								li
									|- силовые мультистанции Life Fitness (США);  
								li
									|- боксерская груша, зона единоборств;
								li
									|- сайкл студия.
							<br>
							|Серия тренажеров Life Fitness создана для самых требовательных пользователей. Все ее модели оснащены самыми современными технологиями и выполнены в стильном |дизайне. 
							<br>
							ol
								li
									|- снижение веса тела;
								li
									|- сжигание жирового компонента тела;
								li
									|- увеличение мышечной массы;
								li
									|- увеличение силового показателя;
								li
									|- подготовительный комплекс для сезона лыж, спортивных игр, 
								li
									|  тенниса, соревнований и прочее;
								li
									|- восстановление/реабилитация после перенесенных травм и заболеваний;
								li
									|- улучшение выносливости сердечно-сосудистой и дыхательной систем;
								li
									|- развитие выносливости;
								li
									|- улучшение общего физического состояния и самочувствия.					
				div.block_4.service
					div.image
					h2.
						Другие услуги
					a(href="#hover4", class="modalbox4 more") Подробнее
					div(id="hover4")
						div.name
							b
								| ТРЕНАЖЕРНЫЙ ЗАЛ4
						div.description
							ol
								li
									|- силовые тренажеры со свободным отягощением Hammer Strength (США);
								li
									|- блочное силовое оборудование Life Fitness (США);
								li
									|- силовые мультистанции Life Fitness (США);  
								li
									|- боксерская груша, зона единоборств;
								li
									|- сайкл студия.
							<br>
							|Серия тренажеров Life Fitness создана для самых требовательных пользователей. Все ее модели оснащены самыми современными технологиями и выполнены в стильном |дизайне. 
							<br>
							ol
								li
									|- снижение веса тела;
								li
									|- сжигание жирового компонента тела;
								li
									|- увеличение мышечной массы;
								li
									|- увеличение силового показателя;
								li
									|- подготовительный комплекс для сезона лыж, спортивных игр, 
								li
									|  тенниса, соревнований и прочее;
								li
									|- восстановление/реабилитация после перенесенных травм и заболеваний;
								li
									|- улучшение выносливости сердечно-сосудистой и дыхательной систем;
								li
									|- развитие выносливости;
								li
									|- улучшение общего физического состояния и самочувствия.					
				div.clear
			div.catalog_personal
				h1.
					НАШИ ПРОФЕССИОНАЛЬНЫЕ <br> ИНСТРУКТОРА
				p.
					У нас более 50-ти преподавателей, которые являются заслуженными победителями в разных танцевальных номинациях.Наши педагоги не привязаны к одному конкретному филиалу и могут преподавать в любом из них. Каждый имеет свой неповторимый стиль, поэтому все ученики школы танцев могут научиться всему многообразию техник и стилей независимо от того, в каком филиале школы танцев они занимаются.
				div.personal1
					a(href="#hover5", class="modalbox5")
						div.photo 
							img(src="/assets/images/personal_1.png")
						div.name Елена Жолудева
						div.special Тренер групповых программ
					div(id="hover5")
						img(src="../assets/images/personal_1.png")
						div.name
							| ЕЛЕНА ЖОЛУДЕВА
						div.special
							| Инструктор групповых программ и персональный тренер
						div.shcool
							b
								| Образование: высшее, ТГУ – педагог по ФКиС.
						div.description
							| Повышение квалификации по специальности «Фитнес Инструктор». Спортивный разряд по художественной гимнастике (1982 г.) Профессиональная танцовщица (лауреат |различных танцевальных конкурсов).
							<br><br>
							| Неоднократный призер конкурсов и соревнований, проводимых «Reebok», «World Class», Федерации Аэробики, г. Москва. Неоднократный призер региональных |фитнес-конвенций.
							<br><br>
							| Стаж работы инструктором групповых программ, групп ЛФК и персональным тренером более 15 лет.
				div.personal2
					a(href="#hover6", class="modalbox6 more")
						div.photo 
							img(src="/assets/images/personal_2.png")
						div.name Соня Яшина
						div.special Тренер в тренажерном зале
					div(id="hover6")
						img(src="../assets/images/personal_2.png")
						div.name
							| ЕЛЕНА ЖОЛУДЕВА
						div.special
							| Инструктор групповых программ и персональный тренер
						div.shcool
							b
								| Образование: высшее, ТГУ – педагог по ФКиС.
						div.description
							| Повышение квалификации по специальности «Фитнес Инструктор». Спортивный разряд по художественной гимнастике (1982 г.) Профессиональная танцовщица (лауреат |различных танцевальных конкурсов).
							<br>
							| Неоднократный призер конкурсов и соревнований, проводимых «Reebok», «World Class», Федерации Аэробики, г. Москва. Неоднократный призер региональных |фитнес-конвенций.
							<br>
							| Стаж работы инструктором групповых программ, групп ЛФК и персональным тренером более 15 лет.					
				div.personal3
					a(href="#hover7", class="modalbox7 more")
						div.photo 
							img(src="/assets/images/personal_3.png")
						div.name Андрей Миловский
						div.special Тренер в тренажерном зале 
					div(id="hover7")
						img(src="../assets/images/personal_3.png")
						div.name
							| ЕЛЕНА ЖОЛУДЕВА
						div.special
							| Инструктор групповых программ и персональный тренер
						div.shcool
							b
								| Образование: высшее, ТГУ – педагог по ФКиС.
						div.description
							| Повышение квалификации по специальности «Фитнес Инструктор». Спортивный разряд по художественной гимнастике (1982 г.) Профессиональная танцовщица (лауреат |различных танцевальных конкурсов).
							<br><br>
							| Неоднократный призер конкурсов и соревнований, проводимых «Reebok», «World Class», Федерации Аэробики, г. Москва. Неоднократный призер региональных фитнес-конвенций.
							<br><br>
							| Стаж работы инструктором групповых программ, групп ЛФК и персональным тренером более 15 лет.
				div.personal4
					a(href="#hover8", class="modalbox8 more")
						div.photo 
							img(src="/assets/images/personal_4.png")
						div.name Валерий Островкий 
						div.special Тренер групповых программ
					div(id="hover8")
						img(src="../assets/images/personal_4.png")
						div.name
							| ЕЛЕНА ЖОЛУДЕВА
						div.special
							| Инструктор групповых программ и персональный тренер
						div.shcool
							b
								| Образование: высшее, ТГУ – педагог по ФКиС.
						div.description
							| Повышение квалификации по специальности «Фитнес Инструктор». Спортивный разряд по художественной гимнастике (1982 г.) Профессиональная танцовщица (лауреат |различных танцевальных конкурсов).
							<br><br>
							| Неоднократный призер конкурсов и соревнований, проводимых «Reebok», «World Class», Федерации Аэробики, г. Москва. Неоднократный призер региональных фитнес-конвенций.
							<br><br>
							| Стаж работы инструктором групповых программ, групп ЛФК и персональным тренером более 15 лет.					
				div.clear
			div.circs_price
				h1 Цены и условия <br> занятий
				div.price
					.image
						div.name
							h2 Клубные карты
						h3.value от 3.500 р
						p.description Cамая выгодная система оплаты на месяц, полгода или год! Также существуют подарочные варианты клубных карт и возможность приобретения в рассрочку.
						a(href="", class="but") Купить
				div.price
					.image
						div.name
							h2 Абонементная <br> система
						h3.value от 2700 р
						p.description Более выгодна по цене по сравнению с поразовой оплатой.
						a(href="", class="but") Купить
				div.price
					.image
						div.name
							h2 Поразовая <br> оплата
						h3.value от 400 р
						p.description Целесообразна для знакомящихся со стилем или преподавателем впервые.
						a(href="", class="but") Купить
				div.clear
				h1.time_title Расписание <br> занятий
			div.all_time
				div.time_table
					ol
						li.time 9:00
						li
							span.title_class Step 
							p.
								| 9:00 - 10:00
						li
							span.title_class Cardio-mix 
							p.
								| 9:00 - 10:00
						li
							span.title_class ЙОГА 
							p.
								| 9:00 - 10:00
						li
							span.title_class Ягодицы, пресс <br> бедра 
							p.
								| 9:00 - 10:00
						li
							span.title_class интервальная <br> тренировка 
							p.
								| 9:00 - 10:00
						li
							span.title_class пилатес 
							p.
								| 9:00 - 10:00
						li.enroll
							a(href="#hover9", class="modalbox9") Записаться
						div(id="hover9")
							div.time
								| 9:00
							div.title_class
								| Step <br>
								| 9:00 - 10:00
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_3.png")
									div.name Андрей Миловский
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_2.png")
									div.name Соня Яшина
							div.description
								<br><br>
								b
									| Расписание
								<br>
								| Длительность курса — 2.5 месяца.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| После группы есть возможность самостоятельной подготовки с 20:30 до 23:00
								<br><br>
								b
									| Стоимость занятий:
								<br>
								| Абонемент на 8 занятий (месяц) - 3900 р. 
								<br>
								| Абонемент на 16 занятий - 6500 р.
								<br><br>
								b
									| Разовое посещение:
								| 600 р
								<br><br>
								b
									| Скидки студентам* и школьникам:
								<br>
								| Абонемент на 8 занятий - 3000 р.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| Абонемент на 16 занятий - 5000 р.
								<br><br>
								span
									| *скидка предоставляется студентам очного дневного отделения
								<br>
								| Существует возможность корпоративной оплаты обучения. Уточняйте у менеджера!
								<br><br>
								| Начните заниматся прямо сейчас!
								div.form3
									form#form
										input(type="text" name="name" required="required" placeholder="Ваше имя")
										input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
										input(type="submit" value="Записаться" class="but")
					ol
						li.time 9:00
						li
							span.title_class Step 
							p.
								| 9:00 - 10:00
						li
							span.title_class Cardio-mix 
							p.
								| 9:00 - 10:00
						li
							span.title_class ЙОГА 
							p.
								| 9:00 - 10:00
						li
							span.title_class Ягодицы, пресс <br> бедра 
							p.
								| 9:00 - 10:00
						li
							span.title_class интервальная <br> тренировка 
							p.
								| 9:00 - 10:00
						li
							span.title_class пилатес 
							p.
								| 9:00 - 10:00
						li.enroll
							a(href="#hover10" class="modalbox10") Записаться
						div(id="hover10")
							div.time
								| 9:00
							div.title_class
								| Step <br>
								| 9:00 - 10:00
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_3.png")
									div.name Андрей Миловский
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_2.png")
									div.name Соня Яшина
							div.description
								<br><br>
								b
									| Расписание
								<br>
								| Длительность курса — 2.5 месяца.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| После группы есть возможность самостоятельной подготовки с 20:30 до 23:00
								<br><br>
								b
									| Стоимость занятий:
								<br>
								| Абонемент на 8 занятий (месяц) - 3900 р. 
								<br>
								| Абонемент на 16 занятий - 6500 р.
								<br><br>
								b
									| Разовое посещение:
								| 600 р
								<br><br>
								b
									| Скидки студентам* и школьникам:
								<br>
								| Абонемент на 8 занятий - 3000 р.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| Абонемент на 16 занятий - 5000 р.
								<br><br>
								span
									| *скидка предоставляется студентам очного дневного отделения
								<br>
								| Существует возможность корпоративной оплаты обучения. Уточняйте у менеджера!
								<br><br>
								| Начните заниматся прямо сейчас!
								div.form3
									form#form
										input(type="text" name="name" required="required" placeholder="Ваше имя")
										input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
										input(type="submit" value="Записаться" class="but")
					ol
						li.time 9:00
						li
							span.title_class Step 
							p.
								| 9:00 - 10:00
						li
							span.title_class Cardio-mix 
							p.
								| 9:00 - 10:00
						li
							span.title_class ЙОГА 
							p.
								| 9:00 - 10:00
						li
							span.title_class Ягодицы, пресс <br>  бедра 
							p.
								| 9:00 - 10:00
						li
							span.title_class интервальная <br> тренировка 
							p.
								| 9:00 - 10:00
						li
							span.title_class пилатес 
							p.
								| 9:00 - 10:00
						li.enroll
							a(href="#hover11" class="modalbox11") Записаться
						div(id="hover11")
							div.time
								| 9:00
							div.title_class
								| Step <br>
								| 9:00 - 10:00
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_3.png")
									div.name Андрей Миловский
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_2.png")
									div.name Соня Яшина
							div.description
								<br><br>
								b
									| Расписание
								<br>
								| Длительность курса — 2.5 месяца.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| После группы есть возможность самостоятельной подготовки с 20:30 до 23:00
								<br><br>
								b
									| Стоимость занятий:
								<br>
								| Абонемент на 8 занятий (месяц) - 3900 р. 
								<br>
								| Абонемент на 16 занятий - 6500 р.
								<br><br>
								b
									| Разовое посещение:
								| 600 р
								<br><br>
								b
									| Скидки студентам* и школьникам:
								<br>
								| Абонемент на 8 занятий - 3000 р.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| Абонемент на 16 занятий - 5000 р.
								<br><br>
								span
									| *скидка предоставляется студентам очного дневного отделения
								<br>
								| Существует возможность корпоративной оплаты обучения. Уточняйте у менеджера!
								<br><br>
								| Начните заниматся прямо сейчас!
								div.form3
									form#form
										input(type="text" name="name" required="required" placeholder="Ваше имя")
										input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
										input(type="submit" value="Записаться" class="but")
					ol
						li.time 9:00
						li
							span.title_class Step 
							p.
								| 9:00 - 10:00
						li
							span.title_class Cardio-mix 
							p.
								| 9:00 - 10:00
						li
							span.title_class ЙОГА 
							p.
								| 9:00 - 10:00
						li
							span.title_class Ягодицы, пресс <br>  бедра 
							p.
								| 9:00 - 10:00
						li
							span.title_class интервальная <br> тренировка 
							p.
								| 9:00 - 10:00
						li
							span.title_class пилатес 
							p.
								| 9:00 - 10:00
						li.enroll
							a(href="#hover12" class="modalbox12") Записаться
						div(id="hover12")
							div.time
								| 9:00
							div.title_class
								| Step <br>
								| 9:00 - 10:00
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_3.png")
									div.name Андрей Миловский
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_2.png")
									div.name Соня Яшина
							div.description
								<br><br>
								b
									| Расписание
								<br>
								| Длительность курса — 2.5 месяца.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| После группы есть возможность самостоятельной подготовки с 20:30 до 23:00
								<br><br>
								b
									| Стоимость занятий:
								<br>
								| Абонемент на 8 занятий (месяц) - 3900 р. 
								<br>
								| Абонемент на 16 занятий - 6500 р.
								<br><br>
								b
									| Разовое посещение:
								| 600 р
								<br><br>
								b
									| Скидки студентам* и школьникам:
								<br>
								| Абонемент на 8 занятий - 3000 р.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| Абонемент на 16 занятий - 5000 р.
								<br><br>
								span
									| *скидка предоставляется студентам очного дневного отделения
								<br>
								| Существует возможность корпоративной оплаты обучения. Уточняйте у менеджера!
								<br><br>
								| Начните заниматся прямо сейчас!
								div.form3
									form#form
										input(type="text" name="name" required="required" placeholder="Ваше имя")
										input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
										input(type="submit" value="Записаться" class="but")
					ol
						li.time 9:00
						li
							span.title_class Step 
							p.
								| 9:00 - 10:00
						li
							span.title_class Cardio-mix 
							p.
								| 9:00 - 10:00
						li
							span.title_class ЙОГА 
							p.
								| 9:00 - 10:00
						li
							span.title_class Ягодицы, пресс <br> бедра 
							p.
								| 9:00 - 10:00
						li
							span.title_class интервальная <br> тренировка 
							p.
								| 9:00 - 10:00
						li
							span.title_class пилатес 
							p.
								| 9:00 - 10:00
						li.enroll
							a(href="#hover13" class="modalbox13") Записаться
						div(id="hover13")
							div.time
								| 9:00
							div.title_class
								| Step <br>
								| 9:00 - 10:00
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_3.png")
									div.name Андрей Миловский
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_2.png")
									div.name Соня Яшина
							div.description
								<br><br>
								b
									| Расписание
								<br>
								| Длительность курса — 2.5 месяца.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| После группы есть возможность самостоятельной подготовки с 20:30 до 23:00
								<br><br>
								b
									| Стоимость занятий:
								<br>
								| Абонемент на 8 занятий (месяц) - 3900 р. 
								<br>
								| Абонемент на 16 занятий - 6500 р.
								<br><br>
								b
									| Разовое посещение:
								| 600 р
								<br><br>
								b
									| Скидки студентам* и школьникам:
								<br>
								| Абонемент на 8 занятий - 3000 р.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| Абонемент на 16 занятий - 5000 р.
								<br><br>
								span
									| *скидка предоставляется студентам очного дневного отделения
								<br>
								| Существует возможность корпоративной оплаты обучения. Уточняйте у менеджера!
								<br><br>
								| Начните заниматся прямо сейчас!
								div.form3
									form#form
										input(type="text" name="name" required="required" placeholder="Ваше имя")
										input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
										input(type="submit" value="Записаться" class="but")
					ol
						li.time 9:00
						li
							span.title_class Step 
							p.
								| 9:00 - 10:00
						li
							span.title_class Cardio-mix 
							p.
								| 9:00 - 10:00
						li
							span.title_class ЙОГА 
							p.
								| 9:00 - 10:00
						li
							span.title_class Ягодицы, пресс <br> бедра 
							p.
								| 9:00 - 10:00
						li
							span.title_class интервальная <br> тренировка 
							p.
								| 9:00 - 10:00
						li
							span.title_class пилатес 
							p.
								| 9:00 - 10:00
						li.enroll
							a(href="#hover14" class="modalbox14") Записаться
						div(id="hover14")
							div.time
								| 9:00
							div.title_class
								| Step <br>
								| 9:00 - 10:00
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_3.png")
									div.name Андрей Миловский
							a(href="#hover7", class="modalbox7 more")
								div.personal_block
									div.photo 
										img(src="/assets/images/personal_2.png")
									div.name Соня Яшина
							div.description
								<br><br>
								b
									| Расписание
								<br>
								| Длительность курса — 2.5 месяца.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| После группы есть возможность самостоятельной подготовки с 20:30 до 23:00
								<br><br>
								b
									| Стоимость занятий:
								<br>
								| Абонемент на 8 занятий (месяц) - 3900 р. 
								<br>
								| Абонемент на 16 занятий - 6500 р.
								<br><br>
								b
									| Разовое посещение:
								| 600 р
								<br><br>
								b
									| Скидки студентам* и школьникам:
								<br>
								| Абонемент на 8 занятий - 3000 р.
								<br>
								| Группа проходит по средам / пятницам с 19:00 до 20:30.
								<br>
								| Абонемент на 16 занятий - 5000 р.
								<br><br>
								span
									| *скидка предоставляется студентам очного дневного отделения
								<br>
								| Существует возможность корпоративной оплаты обучения. Уточняйте у менеджера!
								<br><br>
								| Начните заниматся прямо сейчас!
								div.form3
									form#form
										input(type="text" name="name" required="required" placeholder="Ваше имя")
										input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
										input(type="submit" value="Записаться" class="but")
					ol.time_back_call
						li.time
						li.title Есть вопросы? Не беда! Свяжитесь с нами и мы постараемся Вам помочь!
						li.enroll
							a(href="javascript:void(0);" class="but") Заказать звонок
					div.clear
			div.recall_block
				h1 Отзывы наших <br> клиентов
				div.recall
					div.slide
						h2 Солодянников Сергей1
						p.description Не думал раньше, что танцы так изменят мою жизнь. До занятий хастлом в повседневной жизни я вообще не задумывался о том, как двигаться. Просто как то ходил, как то выглядел, редко участвовал в выступлениях и конкурсах, просто как то танцевал на дискотеках, но сейчас и вспоминать не хочется, как я там танцевал) Теперь я понимаю, что по-настоящему не ощущал своих рук и ног, баланс тела, направление взгляда, не умел выражать себя в эффектных и эстетичных движениях и радоваться своему телу.
					div.slide
						h2 Солодянников Сергей2
						p.description Не думал раньше, что танцы так изменят мою жизнь. До занятий хастлом в повседневной жизни я вообще не задумывался о том, как двигаться. Просто как то ходил, как то выглядел, редко участвовал в выступлениях и конкурсах, просто как то танцевал на дискотеках, но сейчас и вспоминать не хочется, как я там танцевал) Теперь я понимаю, что по-настоящему не ощущал своих рук и ног, баланс тела, направление взгляда, не умел выражать себя в эффектных и эстетичных движениях и радоваться своему телу.
					div.slide
						h2 Солодянников Сергей3
						p.description Не думал раньше, что танцы так изменят мою жизнь. До занятий хастлом в повседневной жизни я вообще не задумывался о том, как двигаться. Просто как то ходил, как то выглядел, редко участвовал в выступлениях и конкурсах, просто как то танцевал на дискотеках, но сейчас и вспоминать не хочется, как я там танцевал) Теперь я понимаю, что по-настоящему не ощущал своих рук и ног, баланс тела, направление взгляда, не умел выражать себя в эффектных и эстетичных движениях и радоваться своему телу.
				div.clear
			input#pic-1(type="checkbox")
			label.lightbox(for="pic-1")
				img(src="/assets/images/personal_1.png")
			input#pic-2(type="checkbox")
			label.lightbox(for="pic-2")
				img(src="/assets/images/personal_2.png")
			input#pic-3(type="checkbox")
			label.lightbox(for="pic-3")
				img(src="/assets/images/personal_3.png")
			input#pic-4(type="checkbox")
			label.lightbox(for="pic-4")
				img(src="/assets/images/personal_4.png")
			input#pic-5(type="checkbox")
			label.lightbox(for="pic-5")
				img(src="/assets/images/personal_1.png")
			input#pic-6(type="checkbox")
			label.lightbox(for="pic-6")
				img(src="/assets/images/personal_2.png")
			input#pic-7(type="checkbox")
			label.lightbox(for="pic-7")
				img(src="/assets/images/personal_3.png")
			input#pic-8(type="checkbox")
			label.lightbox(for="pic-8")
				img(src="/assets/images/personal_4.png")
			div.photogallery
				h1 Фотогаллерея <br> нашего центра
				label.grid-item(for="pic-1")
					img(src="/assets/images/personal_1.png")
				label.grid-item(for="pic-2")
					img(src="/assets/images/personal_2.png")
				label.grid-item(for="pic-3")
					img(src="/assets/images/personal_3.png")
				label.grid-item(for="pic-4")
					img(src="/assets/images/personal_4.png")
				label.grid-item(for="pic-5")
					img(src="/assets/images/personal_1.png")
				label.grid-item(for="pic-6")
					img(src="/assets/images/personal_2.png")
				label.grid-item(for="pic-7")
					img(src="/assets/images/personal_3.png")
				label.grid-item(for="pic-8")
					img(src="/assets/images/personal_4.png")
				div.clear
			div.clear
		footer
			div.footer
				h1.title Начинай заниматься прямо сейчас
				div.form
					form#form
						input(type="text" name="name" required="required" placeholder="Как к Вам обращаться?" class="text")
						input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __" class="phone")
						input(type="submit" value="Записаться на занятие" class="but")
				div.clear
				div.logo
					img(src="/assets/images/logo_footer.png")
				div.contact
					ol
						li Your Fitness
						li +7 (000) 000-00-00
						li м. Савеловская, Бумажный проезд, 19 <br> м. Марьина Роща, 1-ая Ямская, 8 <br> м. Шаболовская, ул. Донская, 24
				div.soc
					ol
						li
							a(href="void:javascript(0)" class="but") Заказать звонок
						li
							a(href="")
								img(src="/assets/images/vk.png")
							a(href="")
								img(src="/assets/images/ins.png")
							a(href="")
								img(src="/assets/images/fb.png")
				div.clear
		div.form2
			form#form2
				label.close
					img(src="assets/images/close.png")
				label.title Заказ обратного звонка
				div.text
					label Имя
					input(type="text" name="name" required="required" placeholder="")
				div.phone
					label Телефон
					input(type="text" name="phone" required="required" Placeholder="+ 7 (__) - __ - __ - __")
				input(type="submit" value="Отправить" class="but")