/// Media Query generation
///
/// @param {string} $point
///
/// @example scss
///   @include breakpoint(xs) {
///     .element {
///       display: none;
///     }
///   }
///
/// @example css
///   @media screen and (max-width: 600px) {
///     .element {
///       display: none;
///     }
///   }
///
/// @require {variable} $breakpoints
@mixin breakpoint($point) {
  @each $name, $query in $breakpoints {
    @if ($name == $point) {
      @media #{$query} {
        @content;
      }
    }
  }
}
