@import 'dependencies';

/* Fonts
   ========================================================================== */

//

/* General
   ========================================================================== */

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  font-family:'PT Sans', sans-serif, 'PT Serif';
}
body
{
	margin:0;
	padding:0;
}

/* Utilities, components
   ========================================================================== */

//
/* Gallery */

	input[type="checkbox"]
	{
		display:none;
		&:checked + .lightbox
		{
			-ms-transform: scale(1);
			-webkit-transform: scale(1);
			transform: scale(1);
		}

		&:checked ~ .grid
		{
			opacity:.125;
		}
	}
	.lightbox
	{
		z-index:1;
		min-height:100%;
		overflow:auto;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: -webkit-transform .5s ease-out;
		transition: transform .5s ease-out;
		img
		{
			position:fixed;
			top:50%;
			left:50%;
			max-width:500px;
			width:100%;
			max-height:500px;
			-webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
 			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
		}
	}

	.lightbox, .grid
	{
	  width: 100%;
	  position: fixed;
	  top: 0;
	  left: 0;
	}

/* end Gallery*/
@media all and (max-width:1150px)
{
	footer 
	{
		.footer
		{
			.form
			{
				display:table;
				text-align:center;
				.text
				{
					margin-top:15px;
					margin-left:15px;
				}
				.phone
				{
					margin-top:15px;
					margin-left:15px;
				}
				.but
				{
					margin-top:15px;
					margin-left:15px;
				}
			}
		}
	}
}
	@media all and (max-width:740px)
	{
		.catalog_personal
		{
			.personal 
			{
				width:50% !important;
				.name
				{
					font-size: 18px !important;
				}
				.special
				{
					font-size: 16px !important;
				}
			}
		}
		.service
		{
			width:100% !important;

		}
		.circs_price
		{
			.price
			{
				float:none !important;
				margin:0 auto !important;
				margin-bottom:20px !important;
			}
		}
		.photogallery
		{
			.grid-item
			{
				width:33% !important;
				img
				{
					width:100% !important;
				}
			}
		}
		.logo
		{
			float:none !important;
			text-align:center;
			margin-bottom:20px;
		}
		nav
		{
			float:none !important;
			margin:0 auto;
		}

		footer 
		{
			.footer
			{
				.form
				{
					display:table;
					text-align:center;
					.text
					{
						margin-top:15px;
					}
					.phone
					{
						margin-top:15px;
						margin-left:0;
					}
					.but
					{
						margin-top:15px;
						margin-left:0;
					}
				}
			}
		}

	}

	@media all and (max-width:550px)
	{

		.photogallery,.recall_block,.catalog_service,.catalog_personal,.circs_price
		{
			h1
			{
				padding-left:10px !important;
			}
			h1.time_title
			{
				padding-left:10px !important;
			}
		}
		.catalog_personal
		{
			.personal 
			{
				width:100% !important;
				.name
				{
					font-size: 20px !important;
				}
				.special
				{
					font-size: 18px !important;
				}
			}
		}
		.circs_price
		{
			.price
			{
				float:none !important;
				margin:0 auto !important;
				margin-bottom:20px !important;
			}
		}
		.photogallery
		{
			.grid-item
			{
				width:50% !important;
				img
				{
					width:100% !important;
				}
			}
		}
	}




#hover,#hover2,#hover3,#hover4,#hover5,#hover6,#hover7,#hover8,#hover9,#hover10,#hover11,#hover12,#hover13,#hover14{
	display:none;
}
.clear
{
	clear:both;
	width:100%;
}
#wrapper
{
	max-width:1024px;
	width:100%;
	margin:0 auto;
	padding:0;
}

header
{
	max-width:1024px;
	width:100%;
	margin:0 auto;
	padding-top:40px;
	.logo
	{
		float:left;
	}
	nav
	{
		float:right;
		ul
		{
			padding:0;
			margin:0;
			li
			{
				float:left;
				margin-left:25px;
				list-style-type:none;
					a
					{
						color:#27252b;
						font-size:14px;
						text-decoration:none;
						text-transform: uppercase;

						&:hover
						{
							color:#9dc02e;
							border-top: 1px solid #9dc02e;
						}
					}
			}
		}
	}
	.slidshow
	{
		position:relative;
		margin-top:40px;
		.text
		{
			position:absolute;
			bottom:0;
			width:100%;
			max-width: 550px;
			font-size:24px;
			text-transform: uppercase;
			padding:20px 25px;
			margin:0;
			background-color:rgba(157,192,46, 0.61);
			p
			{
				margin:0;
				padding:0;
			}
		}
		.slide
		{
			.image
			{
				img
				{
					width:100%;
				}
			}
		}
	}
}
content
{
	.title
	{
		max-width:1024px;
		width:100%;
		margin:0 auto;
		h1
		{
			margin:0;
			padding:0;
			color:#9dc02e;
			font-size:36px;
			text-transform:uppercase;
			font-family:'PT Serif';
			width:100%;
			max-width:550px;
			background-color:#1c1c1c;
			padding:20px 25px;
		}
		p.description
		{
			font-size:16px;
		}
	}

	.catalog_service
	{
		max-width:1024px;
		width:100%;
		margin:0 auto;
		margin-top:60px;
		h1
		{
			font-size:36px;
			text-transform:uppercase;
			border-bottom: 1px solid #9dc02e;
		}
		h2 
		{
			font-size:34px;
			text-transform:uppercase;
			font-weight:bold;
			text-align:center;
			color:#fff;
			margin:0;
			padding:25px 0;
			position:absolute;
			top:50%;
			width:100%;
			margin-top:-97px;
		}
		.service 
		{
			width:50%;
			min-width:330px;
			float:left; 
			position:relative;
			&:hover
			{
				.image
				{
					background-color:rgba(157,192,46, 0.61);
				}
				a.more
				{
					color:#9dc02e;
					background-color:#fff;
				}
			}
		}
		.block_1
		{
			background:url("/assets/images/catalog_service_1.png") no-repeat;
			background-size:Cover;
			.image
			{
				height:340px;
			}
		}
		.block_2
		{
			background:url("/assets/images/catalog_service_2.png") no-repeat;
			background-size:Cover;
			.image
			{
				height:340px;
			}
		}
		.block_3
		{
			background:url("/assets/images/catalog_service_3.png") no-repeat;
			background-size:Cover;
			.image
			{
				height:340px;
			}
		}
		.block_4
		{
			background:url("/assets/images/catalog_service_4.png") no-repeat;
			background-size:Cover;
			.image
			{
				height:340px;
			}
		}
		a.more
		{
			color:#fff;
			text-decoration:none;
			font-size:18px;
			text-transform:uppercase;
			padding:10px 20px;
			border-radius:16px;
			border:1px solid #fff;
			display:table;
			margin:0 auto;
			position:absolute;
			top:50%;
			left:50%;
			margin-left:-70px;
		}
	}
	.catalog_personal
	{
		position:relative;
		max-width:1024px;
		width:100%;
		margin:0 auto;
		margin-top:60px;
		h1
		{
			font-size:36px;
			text-transform:uppercase;
			border-bottom: 1px solid #9dc02e;
			padding:0 0 15px 0;
			margin:0;
		}
		p
		{
			font-size:18px;
		}
		.personal1,.personal2,.personal3,.personal4
		{
			float:left;
			width:25%;
			margin-bottom:10px;
				a{
				color:#212121;
				text-decoration:none;
				.name
				{
					font-size:16px;
					font-weight:bold;
					text-align:center;
					padding-top:20px;
				}
				.special
				{
					padding-top:15px;
					font-size:14px;
					text-align:center;

				}
				img
				{
					width:100%;
				}
			}
		}


	}
	.circs_price
	{
		max-width:1024px;
		width:100%;
		margin:0 auto;
		margin-top:60px;
		h1
		{
			font-size:36px;
			text-transform:uppercase;
			border-bottom: 1px solid #9dc02e;
			padding:0 0 15px 0;
			margin:0 0 40px 0;
		}
		h1.time_title
		{
			border-bottom: 0;
			margin-top:80px;
			padding:0;
		}
		.price
		{
			float:left;
			width:317px;
			margin-right:30px;
			margin-bottom: 30px;
			border-radius:50%;
			overflow:hidden;
			position:relative;
			&:nth-child(2)
			{
				background:url(/assets/images/circs_price_1.png) 0 100% no-repeat;
			}
			&:nth-child(3)
			{
				background:url(/assets/images/circs_price_2.png) 0 100% no-repeat;
			}
			&:nth-child(4)
			{
				margin-right:0;
				background:url(/assets/images/circs_price_3.png) 0 100% no-repeat;
			}
			.image
			{
				background-color:rgba(0,0,0, 0.81);
				height:320px;
			}
			a
			{
				text-decoration:none;
			}
			div.name
			{
				position:relative;
				background-color:#9dc02e;
				margin:0;
				padding:40px 0 10px 0;
				text-align:center;
				height:50px;
				h2
				{
					position:absolute;
					font-size:22px;
					transform: translate(-50%, -30%);
					top:50%;
					padding:0;
					margin:0;
					left:50%;
					font-weight:normal;
					color:#fff;
					text-transform: uppercase;
					width:185px;


				}
			}
			h3.value
				{
					font-size:36px;
					color:#9dc02e;
					font-weight:normal;
					padding:16px 0;
					margin:0;
					text-align:center;
				}
			p.description
				{
					font-size:12px;
					color:#fff;
					padding:0 50px;
					margin:0;
					text-align:center;
				}
			a.but
			{
				background-color:#9dc02e;
				padding:5px 15px;
				border-radius:16px;
				color:#fff;
				font-size:16px;
				text-transform: uppercase;
				position:absolute;
				bottom:25px;
				left:50%;
				margin-left:-44px;
			}

		}

	}
	.all_time
	{
		background-color:#e9e9e9;
		.time_table
		{
			max-width:1024px;
			width:100%;
			margin:0 auto;
			position:relative;
			h1
			{
				font-size:33px;
				text-transform:uppercase;
				padding:0 0 15px 0;
				margin:0 0 20px 0;
			}
			ol
			{
				padding:0;
				margin:0;
				display:table;
				clear:both;
				li
				{
					padding:35px 17px 15px 18px;
					margin:0;
					height:47px;
					float:left;
					font-size:14px;
					list-style:none;
					text-align:left;
					.title_class
					{
						
						font-weight:bold;
						text-transform: uppercase;
					}
					p
					{
						padding:0;
						margin:0;
					}
				}
				li.enroll
				{
					a
					{
						text-decoration:none;
						font-size:12px;
						font-weight:bold;
						color:#fff;
						line-height:40px;
						padding:10px 30px;
						background-color:#9dc02e;
						border-radius:16px;
						text-transform:uppercase;

					}
				}
				li.time
				{
					background-color:#9dc02e;
					color:#fff;
					font-size:18px;
					line-height:37px;
					font-weight:600;
				}
				&:nth-child(2n)
					{
						background-color:#fff;
					}

			}
			ol.time_back_call
			{
				li.time
				{
					width:33px;
				}
				li.title
				{
					font-size:18px;
					font-weight:bold;
					width: initial;
					line-height:37px;
					padding-left:100px;
				}
				li.enroll
				{
					a
					{
						background-color:#e06c83;
					}
				}

			}

		}
		.time_hover1,.time_hover2,.time_hover3,.time_hover4{
			width:540px;
			padding:30px;
			transform: translate(-50%, -30%);
			background-color:#fff;
			top:50%;
			position:absolute;
			left:50%;
			border:1px solid #9dc02e;
			box-shadow:1px 1px 5px #000;
			font-size:16px;
			z-index:5;
			display:none;
			.time_close1,.time_close2,.time_close3,.time_close4{
				img{
					width:26px;
					height:26px;
					position:absolute;
					right:15px;
					top:15px;
				}
			}
			.time{
				color:#acc958;
				font-size:26px;
			}
			.title_class{
				font-size:26px;
				color:#000;
			}
			img{
				width:324px;
			}
			.name{
				text-align:left;
				font-size:30px;
				padding-top:20px;
			}
			.special{
				text-align:left;
				padding-top:30px;
			}
			.shcool{
				padding-top:20px;

			}
			.description{
				padding-top:25px;
			}
		}
	}
	.recall_block
	{
		background:url("/assets/images/bg_recall.png") no-repeat;
		h1
			{
				font-size:36px;
				text-transform:uppercase;
				border-bottom: 1px solid #9dc02e;
				padding:30px 0 15px 0;
				margin:0 auto;
				color:#fff;
				max-width:1024px;
			}
		.bx-wrapper
		{
			max-width:1024px;
			width:100%;
			margin:0 auto;
			padding-top:30px;
			padding-bottom:20px;
			.bx-viewport
			{
				
			}
			.bx-controls-direction
			{
				display:table;
				margin:0 auto;
				font-size:0;
				.bx-prev
				{
					display:inline-block;
					width:34px;
					height:10px;
					background:url(/assets/images/stl.png) no-repeat;
					&:hover
					{
						background:url(/assets/images/stl_hover.png) no-repeat;
					}
				}
				.bx-next
				{
					display:inline-block;
					width:34px;
					height:10px;
					margin-left:13px;
					background:url(/assets/images/str.png) no-repeat;
					&:hover
					{
						background:url(/assets/images/str_hover.png) no-repeat;
					}
				}	
			}
			h2
			{
				color:#9dc02e;
				font-size:20px;
				text-align:center;
				font-weight:normal;
			}
			p.description
			{
				font-size:16px;
				color:#6c6c6c;
				background:url(/assets/images/bg_description.png) no-repeat;
				background-size:contain;
				max-width:820px;
				text-align:center;
				padding:0 60px;
				height:125px;
				overflow:hidden;
			}
		}
	}
	.photogallery
	{
		max-width:1024px;
		width:100%;
		margin:0 auto;
		padding-top:40px;
		h1
		{
			font-size:36px;
			text-transform:uppercase;
			border-bottom: 1px solid #9dc02e;
			padding:0 0 15px 0;
			margin:0 0 40px 0;
		}
		.grid-item
		{
			float:left;
			padding:0;
			margin:0;
			width:25%;
			-webkit-transition: opacity .5s;
          	transition: opacity .5s;
          	&:hover
          	{
          		opacity:1;
          	}
		}


	}
}
footer
	{
		background-color:#1c1c1c;
		.footer
		{
			padding:30px 0;
			max-width:1024px;
			width:100%;
			margin:0 auto;
			h1
			{
				font-size:36px;
				text-transform:uppercase;
				text-align:center;
				padding:0;
				margin:0;
				color:#9dc02e;
			}
			.form
			{
				height:40px;
				padding:30px 0;
				border-bottom:1px solid #9dc02e;
				margin-bottom:30px;
			}
			.logo
			{
				float:Left;
				padding:0 50px 0 0;
			}
			.contact
			{
				float:left;
				padding:0 0 0 100px;
				ol
				{
					padding:0;
					margin:0;
					li
					{
						list-style:none;
						color:#fff;
						margin-bottom:30px;
					}
				}
			}
			.soc
			{
				float:right;
				margin-right:50px;
				ol
				{
					padding:0;
					margin:0;
					.but
					{
						background-color:#e06c83;
						color:#fff;
						text-decoration:none;
						padding:10px 0px;
						border-radius:16px;
						text-transform:uppercase;
						font-weight:bold;
						margin:30px 0;
						display:block;
						clear:both;
						text-align:center;
						width:187px;
						font-size:14px;
					}
					li
					{
						text-align:right;
						list-style:none;
						a
						{
							margin-left:20px;
						}
					}
				}
			}
		}
	}
	#form
	{
		.but
		{
			background-color:#9dc02e;
			color:#fff;
			font-size:14px;
			border-radius:22px;
			padding:14px 18px;
			height:45px;
			border:0;
			font-weight:bold;
			text-transform:uppercase;
			outline:none;
			margin-left:20px;
		}
		.text
		{
			color:#9dc02e;
			font-size:18px;
			width:340px;
			padding:12px 15px;
			border-radius:22px;
			outline:none;
			border:0;
		}
		.phone
		{
			color:#9dc02e;
			font-size:18px;
			width:310px;
			padding:12px 15px;
			border-radius:22px;
			outline:none;
			border:0;
			margin-left:10px;
		}
	}
	.form2
	{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		-webkit-transition: -webkit-transform .5s ease-out;
		transition: transform .5s ease-out;

		.title
		{
			font-size:18px;
			text-transform: uppercase;
			padding-top:30px;
			display:block;
		}
		.close
		{
			position: absolute;
			top:10px;
			right:10px;
		}
		#form2
		{
			position:fixed;
			top:50%;
			left:50%;
			max-width:400px;
			width:100%;
			max-height:500px;
			background-color:#fff;
			-webkit-transform: translate(-50%, 50%);
	        -ms-transform: translate(-50%, 50%);
	        transform: translate(-50%, 50%);
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
			padding:20px;
			text-align: center;

			.but
			{
				background-color:#9dc02e;
				color:#fff;
				font-size:18px;
				border-radius:22px;
				padding:10px 30px;
				border:0;
				font-weight:bold;
				text-transform:uppercase;
				outline:none;
				margin-top:30px;
			}
			.text
			{
				margin-top:30px;
				display:table;
				label
				{
				float:left;
				font-size:18px;
				width:90px;
				text-align:right;
				line-height:45px;
				margin-right:15px;
				}

				input
				{
					color:#9dc02e;
					font-size:18px;
					width:200px;
					padding:8px 15px;
					border-radius:22px;
					outline:none;
					border:0;
					background-color: #e9e9e9;
					float:left;
				}

			}
			.phone
			{
				margin-top:20px;
				display:table;
				label
				{
				float:left;
				font-size:18px;
				width:90px;
				text-align:right;
				line-height:45px;
				margin-right:15px;
				}

				input
				{
					color:#9dc02e;
					font-size:18px;
					width:200px;
					padding:8px 15px;
					border-radius:22px;
					outline:none;
					border:0;
					background-color: #e9e9e9;
					float:left;
				}

			}
		}
	}
	.fancybox-wrap 
	{
		width:680px !important;
		.fancybox-skin{
			padding:30px !important;
			border: 1px solid #9dc02e;
    		border-radius: 0;
			.fancybox-inner{
				max-width: 100%;
				width:100% !important;
				height:100% !important;
				overflow: hidden !important;
				.name{
					font-size:26px;
					font-weight:Bold;
					margin-top: 10px;
				}
				.description{
					font-size:16px;
					display:table;
					ol{
						padding:0;
						li{
							list-style:none;
						}
					}
				}
				#hover5{
					img{
						width:325px;
						height:210px;
					}

				}
				.special{
					margin-top:20px;		
				}
				.shcool{
					margin:25px 0;
				}
				.time{
					font-size:26px;
					color:#9dc02e;
					font-weight:bold;
					margin-bottom:20px;
				}
				.title_class{
					font-size:20px;
					text-transform: uppercase;
					margin-bottom:20px;
				}
				a{
					color:#1c1c1c;
					text-decoration:none;
					.name{
						font-size: 16px;
					    font-weight: normal;
					    text-align: center;
					}
				}
				.personal_block{
					width:250px;
					margin-left:20px;
					float:left;
					.photo{
						width:100%;
						height:150px;
						margin-bottom:10px;
						img{
							width:100%;
							height:100%;
						}
					}
				}
				span{
					color:#9dc02e;
				}
				.form3{
					margin-top:30px;
					input[type="text"]{
						width:187px;
						background-color:#171717;
						float:left;
						margin-right:7px;
						padding:6px;
						border-radius:12px;
					}
					.but{
						width:150px !important	;
						background-color:#d9697f !important;
						color:#fff;
						float:left;
						padding:8px 0 !important;
						font-size:12px !important;
						font-weight:normal !important;
						height: auto !important;
					}
				}
			}
		}
	}